@use '../../abstract/index' as *;
@use '../../components/index' as *;

.contact-section {
	@extend %tpl-section;
	padding-bottom: 0px;

	display: block;
	width: 100%;

	// margin-bottom: 3em;

	background: white;

	// .contact-section__container

	&__container {
	}

	// .contact-section__content

	&__content {
	}

	.content {
		@include mq(med) {
			display: flex;
			align-items: flex-end;
		}

		// .content__left

		&__left {
			@include mq(med) {
				flex: 0 0 60%;
			}
		}

		// .content__right

		&__right {
			max-width: 470px;

			@include mq(med) {
				flex: 0 0 60%;
			}

			@include mq(2xl) {
				max-width: 530px;
			}

			// .content__right-img

			&-img {
				object-fit: cover;
				display: block;
				width: 100%;

				transform: translateY(4px);

				@include mq(med) {
					transform: translate(-20%, 4px);
				}
			}
		}

		.left {
			// .left__title

			&__title {
				@extend %tpl-h2;

				position: relative;

				&::after,
				&::before {
					@include pseudo('?');
					position: absolute;

					top: 0;
					left: 5%;

					width: fit-content;
					height: auto;

					@include adaptive-value-min-max(font-size, 72, 200);

					color: $accent-light;
					opacity: 0.055;
				}

				&::before {
					left: -5%;
					top: 150%;
					transform: rotate(180deg);
				}
			}

			// .left__subtitle

			&__subtitle {
				@include adaptive-value-min-max(font-size, 16, 24);
				font-weight: 500;

				color: $main-text;
			}

			// .left__form

			&__form {
				margin-top: 1.25em;
			}

			.form {
				@extend %tpl-form;
			}
		}
	}
}
