$main-text: hsl(31, 53%, 17%);
$main-primary: hsl(33, 70%, 55%);
$main-secondary: hsl(33, 57%, 91%);

$accent-dark: hsl(30, 88%, 13%);
$accent-light: hsl(30, 92%, 44%);

$white: hsl(0, 100%, 100%);
$body-bg: hsl(0, 0%, 96%);
// $body-bg: pink;
