@use '../../abstract/index' as *;
@use '../../components/index' as *;

.estimator-section {
	// ;
	padding-bottom: 3em;

	@include mq(med) {
		padding-top: 4em;
	}
	// @extend %tpl-section;

	// .estimator-section__container

	&__container {
	}

	// .estimator-section__content

	&__content {
	}

	.content {
		// .content__wrapper

		&__wrapper {
			--pad: 1.125em;

			background: $main-secondary;
			padding: var(--pad);

			border-radius: 1.25em;

			padding-bottom: calc(var(--pad) * 17);
			position: relative;

			@include mq(med) {
				padding: calc(var(--pad) * 2.5) var(--pad);
			}
		}

		// .content__left

		&__left {
		}

		// .content__img

		&__img {
			display: block;
			position: absolute;
			bottom: -0.5rem;
			left: 0;

			max-width: 310px;

			@include mq(sm) {
				right: -10%;
				left: unset;
				width: 95%;
				max-width: 380px;
			}

			@include mq(med) {
			}

			img {
				object-fit: cover;
			}
		}

		.left {
			--pl: 1em;
			padding-left: var(--pl);

			display: flex;
			flex-direction: column;
			gap: 2rem;

			@include mq(med) {
				width: 65%;
			}

			// .left__text

			&__text {
				position: relative;

				&::before {
					@include pseudo;
					left: calc(var(--pl) * -1);
					top: 0;
					bottom: 0;

					width: 3px;
					height: 100%;

					background: $accent-light;
				}
			}

			// .left__text-title

			&__text-title {
				@include adaptive-value-min-max(font-size, 18, 24);
				font-weight: 700;

				margin-bottom: 0.55em;

				color: $accent-dark;
			}

			// .left__text-subtitle

			&__text-subtitle {
				max-width: 50ch;

				@include adaptive-value-min-max(font-size, 14, 18);
				font-weight: 400;

				color: $main-text;
				opacity: 0.8;
			}

			// .left__btn

			&__btn {
				align-self: flex-start;

				@extend %tpl-card-button;
			}
		}
	}
}
